@model IEnumerable<bek_healthProject.Models.DTO.AppointmentDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-success">
        <i class="fas fa-file"></i> Create New
    </a>
</p>

@using (Html.BeginForm("Index", "Appointment", FormMethod.Get))
{
    <div class="form-row">
        <div class="form-group col-md-4">
            @Html.Label("From Date:")
            @Html.TextBox("fromDate", ViewBag.FromDate as string, new { @class = "form-control", type = "date" })
        </div>
        <div class="form-group col-md-4">
            @Html.Label("To Date:")
            @Html.TextBox("toDate", ViewBag.ToDate as string, new { @class = "form-control", type = "date" })
        </div>
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
}

<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Appointment ID: @item.Id</h5>
                    <p class="card-text">Date: @Html.DisplayFor(modelItem => item.AppointmentDate)</p>
                    <p class="card-text">Hour: @Html.DisplayFor(modelItem => item.AppointmentHour)</p>
                    <p class="card-text">Customer Name: @Html.DisplayFor(modelItem => item.CustomerName)</p>
                    <p class="card-text">Doctor Name: @Html.DisplayFor(modelItem => item.DoctorName)</p>
                    <p class="card-text">Description: @Html.DisplayFor(modelItem => item.AppointmentDescription)</p>
                    <p class="card-text">State: @Html.DisplayFor(modelItem => item.State)</p>
                    <p class="card-text">Type: @Html.DisplayFor(modelItem => item.appointment_type)</p>
                    <div class="btn-group" role="group" aria-label="Actions">
                        @if (item.State != "CANCELED")
                        {
                            @Html.Raw("<a href='" + Url.Action("Edit", new { id = item.Id }) + "' class='btn btn-success'><i class='fas fa-edit'></i> Edit</a>")

                        }
                        @Html.Raw("<a href='" + Url.Action("Details", new { id = item.Id }) + "' class='btn btn-info'><i class='fas fa-info-circle'></i> Details</a>")

                        @Html.Raw("<a href='" + Url.Action("Delete", new { id = item.Id }) + "' class='btn btn-danger'><i class='fas fa-minus'></i> <i class='fas fa-file'></i> Delete</a>")

                    </div>
                </div>
            </div>
        </div>
    }



</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">